*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a{
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: right;
    position: fixed;
}

#nav li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#nav li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

section{
    width: 100%;
    height: 100vh;
}

#home{
    background-color: #bc6c29;
}

#about{
    background-color: #9ab5dc;
}

#projects{
    background-color: #29505b;
    height: 1000px;
}

h1{
    position: relative;
    left: 30%;
    top: 25%;
    color: #fff;
}

h3{
    position: relative;
    top: 25%;
    padding: 50px 250px;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    line-height: 24px;
    font-family: sans-serif;
}


img{
    position: relative;
    top: 20%;
    left: 30%;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

img.marble{
    position: relative;
    top: 30%;
    left: 20%;
    width: 120px;
    height: 150px;
    border-radius: 0px;
}

h3.marble{
    top: 7%;
    left: 0%;
    padding: 50px 400px;
}

p{
    position: relative;
    top: 20%;
    left: 5%;
    padding: 50px 400px;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    line-height: 24px;
    font-family: sans-serif;
}

p.marble{
    top: 0%;
    left: 0%;
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
}

h1.projects{
    top: 20%;
}
