body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
}

h3 {
    color: cornflowerblue;
    font-size: 25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: center;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
    text-align: center;
}

nav {
    display:block;
    padding: 20px;
    padding-block: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
