*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 90%;
    color: white;
    font-family: sans-serif;
}

a{
    color: white;
}

h1{
    font-size: 150%;
    color: white;
    padding: 25px;
}

h1.about{
    margin-top: 50px;
    padding: 50px;
}

h3.about{
    margin-bottom: 50px;
}

h3{
    font-size: 120%;
    color: white;
    padding: 15px;
}

#nav {
    position: relative;
    float: left;
}

#nav li{
    list-style: none;
    display: inline-block;
}

#nav li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
}


#home{
    background-color: #bc6c29;
    position: relative;
    padding: 100px 100px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 100px 100px;
}

#about{
    background-color: #9ab5dc;
    position: relative;
    padding: 100px 100px;
}

#projects{
    background-color: #29505b;
    position: relative;
    padding: 100px 100px;
}

.marble{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.marble{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.marble{
    padding: 20px;
    line-height: 20px;
}

img.marble{
    width: 150px;
    height: 150px;
    padding: 25px 25px;
}

.imageprocessor{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.imageprocessor{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.imageprocessor{
    padding: 20px;
    line-height: 20px;
}

img.imageprocessor{
    width: 250px;
    height: 195px;
    padding: 25px 25px;
}

.hospital{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.hospital{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.hospital{
    padding: 20px;
    line-height: 20px;
}

img.hospital{
    width: 300px;
    height: 162px;
    padding: 25px 25px;
}

.floodit{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.floodit{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.floodit{
    padding: 20px;
    line-height: 20px;
}

img.floodit{
    width: 200px;
    height: 200px;
    padding: 25px 25px;
}

.messageboard{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.messageboard{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.messageboard{
    padding: 20px;
    line-height: 20px;
}

img.messageboard{
    width: 300px;
    height: 152px;
    padding: 25px 25px;
}

.website{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

h3.website{
    position: relative;
    padding: 10px;
    margin: 2px;
}

p.website{
    padding: 20px;
    line-height: 20px;
}

img.website{
    width: 300px;
    height: 160px;
    padding: 25px 25px;
}

h3.des{
    margin-top: 30px;
}


